src/main/mule/env.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9f01db49-284a-4255-b175-95e4a315a5e0" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store path="keystore.jks" keyPassword="password" password="password" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="82955176-c82a-4db9-9344-cd19ac7a7b64" file="${env}.yaml" />
	<global-property doc:name="Global Property" doc:id="04569c01-b2db-40a9-add3-2fa398c91280" name="env" value="local" />
	<global-property doc:name="Global Property" doc:id="8722d81d-2dc3-4066-a431-8a6b7b44ef61" name="mule.key" value="encryption_keys_" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="92b9398b-0b59-451a-9442-e6d81bed572b" file="secure-${env}.yaml" key="${mule.key}" />
	<flow name="envFlow" doc:id="4a768ed4-331e-40c0-b0b1-7dbccd57e678" >
		<http:listener doc:name="Listener" doc:id="c47a2852-00e1-4907-96e4-e2e9ecfe6033" config-ref="HTTP_Listener_config" path="/env"/>
		<logger level="INFO" doc:name="Logger" doc:id="6a2f3762-e339-4c84-b392-e7ffa9bca2dd" message="#[&quot;port = &quot; ++ p('http.port')]"/>
		<logger level="INFO" doc:name="Logger" doc:id="b8b2396e-c726-47c6-9186-606965be7e73" message="#[&quot;This is &quot; ++ p('env')]"/>
		<logger level="INFO" doc:name="Logger" doc:id="e176e22b-0832-48cb-874d-2bd5928a7f12" message="#[&quot;password= &quot; ++ p('secure::keyPassword')]"/>
	</flow>
</mule>
